@media screen and (max-width:600px){
    .navbar{
        padding:15px;
    }
    .content {
    
        top: 54%;
    }
    .content small {
        
        font-size: 25px;
    }
    .content h2 {
        font-size: 33px;
    }
    .sidebar{
      
        background: linear-gradient(rgb(7, 67, 95),rgb(111, 196, 235));
        top:auto;
        bottom:0;
        width: 100%;
        height: 50px;
        display:flex;
        align-items:center;
        justify-content:space-between;
        box-sizing: border-box;
        padding:0 10px;
       
       
    }
    
    .social-links{
        width:auto;
        position:unset;
        transform:none;
       
    }
   
    .useful-links{
        width:auto;
        position:unset;
        transform:none;
      
    }
    .menu{
        width:20px;
        margin:0;
    }
    
    }
